# 忽略所有 .log 文件
*.log

# 忽略 PyCharm 项目设置文件夹
.idea/

# 忽略 Windows 图片缓存
Thumbs.db

# 忽略 Mac OS 文件系统文件
.DS_Store

# 忽略 Python 编译生成的文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略 Jupyter Notebook 检查点
.ipynb_checkpoints/

# 忽略打包的文件
dist/
build/
*.egg-info/

# 如果有特定的个人文件也需要忽略，直接列出它们
# 例如，忽略所有 CSV 文件（如果您不想跟踪它们）
# *.csv
